# WSClient configuration
wsclient.host=http://104.130.129.37:8080

# WSClient Return configuration
wsclient.return.host=http://104.130.129.37:8080
route.import.file.payload.type=TXT

# WS-Security
ws-security.username=ADM
ws-security.password=QURN